#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {

    behaviors {
        aby: t9aby {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp A>, <&kp B>, <&kp Y>;
        };

        cdw: t9cdw {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp C>, <&kp D>, <&kp W>;
        };

        efg: t9efg {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp E>, <&kp F>, <&kp G>;
        };

        hij: t9hij {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp H>, <&kp I>, <&kp J>;
        };

        lmx: t9lmx {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp L>, <&kp M>, <&kp X>;
        };

        nopq: t9nopq {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N>, <&kp O>, <&kp P>, <&kp Q>;
        };

        rsk: t9rsk {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp R>, <&kp S>, <&kp K>;
        };

        tuvz: t9tuvz {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp T>, <&kp U>, <&kp V>, <&kp Z>;
        };

        spDlt: t9spDlt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SPACE>, <&kp BACKSPACE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &aby     &cdw       &efg
                &hij     &lmx       &nopq
                &rsk     &tuvz      &spDlt
            >;
        };

    };
};


/*


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define IOS   1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp R   &kp SPACE   &kp E
                &kp J   &kp W   &kp L
                &kp A   &kp S   &kp D
            >;
        };

        ios_layer {
            bindings = <
                &to DEFAULT   &kp M   &kp A
                &kp K   &kp N   &kp Q
                &kp L   &kp O   &to Z
            >;
        };
    };
};

*/
