/*

aby    cdw      efg
hij    lmx      nopq
rsk    tuvz     space / delete

*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define TYPELAYER 1

/ {

    combos {
        compatible = "zmk,combos";
        combo_layerUp {
            timeout-ms = <50>;
            key-positions = <0 1 2>;
            bindings = <&to TYPELAYER>;
        };

        combo_layerDown {
            timeout-ms = <50>;
            key-positions = <6 7 8>;
            bindings = <&to DEFAULT>;
        };

        combo_layerBootLoader {
            timeout-ms = <50>;
            key-positions = <3 4 5>;
            bindings = <&bootloader>;
        };
    };

    behaviors {
        aby: t9aby {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp A>, <&kp B>, <&kp Y>;
        };

        cdw: t9cdw {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp C>, <&kp D>, <&kp W>;
        };

        efg: t9efg {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp E>, <&kp F>, <&kp G>;
        };

        hij: t9hij {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp H>, <&kp I>, <&kp J>;
        };

        lmx: t9lmx {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp L>, <&kp M>, <&kp X>;
        };

        nopq: t9nopq {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N>, <&kp O>, <&kp P>, <&kp Q>;
        };

        rsk: t9rsk {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp R>, <&kp S>, <&kp K>;
        };

        tuvz: t9tuvz {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp T>, <&kp U>, <&kp V>, <&kp Z>;
        };

        spDlt: t9spDlt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SPACE>, <&kp BACKSPACE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &aby     &cdw       &efg
                &hij     &lmx       &nopq
                &rsk     &tuvz      &spDlt
            >;
        };

        TYPELAYER {
            bindings = <
                &kp R   &kp SPACE   &kp E
                &kp J   &kp W   &kp L
                &kp A   &kp S   &kp D
            >;
        };

    };
};
