#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define IOS   1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp R   &kp SPACE   &kp E
                &kp J   &kp W   &kp L
                &kp A   &kp S   &kp D
            >;
        };

        ios_layer {
            bindings = <
                &to DEFAULT   &kp M   &kp A
                &kp K   &kp N   &kp Q
                &kp L   &kp O   &to Z
            >;
        };
    };
};



/*
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define IOS   1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp W
                &kp A
                &to IOS
            >;
        };

        ios_layer {
            bindings = <
                &kp LG(LS(Z))
                &kp LG(Z)
                &to DEFAULT
            >;
        };
    };
};

*/
